.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing_img {
  width: 20rem;
}

.landing_button {
  width: 15rem;
  height: 6rem;
  background-image: linear-gradient(to right, #c5ff87, #fcdd78);
  border: 1px solid #ffffff;
  color: #ffffff;
  font-weight: 900;
  font-size: x-large;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  transition-property: border-color, background-color;
  transition-duration: 0.3s;
}
.landing_button:hover {
  border-color: #ff6868;
  cursor: pointer;
}
